# Clocks
set_io -pullup no   clk_g_i       21 #Icestick 12 Mhz clk
# LEDs
set_io leds_o[0]                  95
set_io leds_o[1]                  97
set_io leds_o[2]                  96
set_io leds_o[3]                  98
set_io leds_o[4]                  99

# Interface
set_io -pullup no  rstn_g_i       44
set_io -pullup no  spi_cs_g_i     45
set_io -pullup no  spi_mosi_g_i   47
set_io -pullup no  spi_miso_g_o   48
set_io -pullup no  spi_clk_g_i    56
# Key Switches
set_io -pullup yes keys_i_g[0]    10
set_io -pullup yes keys_i_g[1]    11
set_io -pullup yes keys_i_g[2]    12
set_io -pullup yes keys_i_g[3]    19
set_io -pullup yes keys_i_g[4]    20
set_io -pullup yes keys_i_g[5]    22
set_io -pullup yes keys_i_g[6]    23
set_io -pullup yes keys_i_g[7]    24
set_io -pullup yes keys_i_g[8]    25
set_io -pullup yes keys_i_g[9]    26
set_io -pullup yes keys_i_g[10]   28
set_io -pullup yes keys_i_g[11]   29
set_io -pullup yes keys_i_g[12]   31
set_io -pullup yes keys_i_g[13]   32
set_io -pullup yes keys_i_g[14]   33
set_io -pullup yes keys_i_g[15]   34
set_io -pullup yes keys_i_g[16]   37
set_io -pullup yes keys_i_g[17]   38
set_io -pullup yes keys_i_g[18]   39
set_io -pullup yes keys_i_g[19]   41
set_io -pullup yes keys_i_g[20]   42
set_io -pullup yes keys_i_g[21]   144
set_io -pullup yes keys_i_g[22]   43
set_io -pullup yes keys_i_g[23]   141
set_io -pullup yes keys_i_g[24]   139
set_io -pullup yes keys_i_g[25]   50
set_io -pullup yes keys_i_g[26]   52
set_io -pullup yes keys_i_g[27]   143
set_io -pullup yes keys_i_g[28]   58
set_io -pullup yes keys_i_g[29]   60
set_io -pullup yes keys_i_g[30]   61
set_io -pullup yes keys_i_g[31]   62
set_io -pullup yes keys_i_g[32]   63
set_io -pullup yes keys_i_g[33]   64
set_io -pullup yes keys_i_g[34]   73
set_io -pullup yes keys_i_g[35]   74
set_io -pullup yes keys_i_g[36]   75
set_io -pullup yes keys_i_g[37]   76
set_io -pullup yes keys_i_g[38]   142
set_io -pullup yes keys_i_g[39]   78
set_io -pullup yes keys_i_g[40]   79
set_io -pullup yes keys_i_g[41]   80
set_io -pullup yes keys_i_g[42]   81
set_io -pullup yes keys_i_g[43]   87
set_io -pullup yes keys_i_g[44]   88
set_io -pullup yes keys_i_g[45]   90
set_io -pullup yes keys_i_g[46]   91
set_io -pullup yes keys_i_g[47]   93
set_io -pullup yes keys_i_g[48]   94
set_io -pullup yes keys_i_g[49]   101
set_io -pullup yes keys_i_g[50]   102
set_io -pullup yes keys_i_g[51]   104
set_io -pullup yes keys_i_g[52]   105
set_io -pullup yes keys_i_g[53]   112
set_io -pullup yes keys_i_g[54]   113
set_io -pullup yes keys_i_g[55]   114
set_io -pullup yes keys_i_g[56]   115
set_io -pullup yes keys_i_g[57]   116
set_io -pullup yes keys_i_g[58]   117
set_io -pullup yes keys_i_g[59]   118
set_io -pullup yes keys_i_g[60]   119
set_io -pullup yes keys_i_g[61]   120
set_io -pullup yes keys_i_g[62]   121
set_io -pullup yes keys_i_g[63]   122
set_io -pullup yes keys_i_g[64]   128
set_io -pullup yes keys_i_g[65]   129
set_io -pullup yes keys_i_g[66]   134
set_io -pullup yes keys_i_g[67]   135
set_io -pullup yes keys_i_g[68]   136
set_io -pullup yes keys_i_g[69]   138
